* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .start-btn {
  width: 100%;
  padding: 10px 0;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1270px;
  margin: 0 auto;
  justify-content: center;
}

.card {
  padding: 40px;
  height: 150px;
  width: 250px;
  margin: 2px;
  border-radius: 5px;
  background: #222226;
  border: 1px solid #343439;
  display: flex;
  overflow: hidden;
}

.card.inside {
  padding: 0; 
  background: rgb(234, 238, 174);
  background: radial-gradient(circle, rgb(26, 235, 206) 0%, rgb(0, 0, 0) 56%)
}

.card img {
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
}

.card.hide {
  visibility: hidden;
}

.card.checking {
  pointer-events: none;
}

.menu .bottom {
  display: flex;
  justify-content: space-between;
}

.menu .bottom small {
  display: block;
  text-align: right;
}

.menu .bottom button {
  background: transparent;
  border: none;
  color: white;
}

.menu .bottom button:hover {
  cursor: pointer;
}



.menu .difficulty {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.menu .difficulty button {
  width: 31%;
  padding: 10px 0;
}

.menu .difficulty button.selected {
  background: #ffaa41;
  color: black;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

.menu p {
  margin-top: 50px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

.countdown {
  display: flex;
}

.gameover {
  text-align: center;
}

.gameover small{
  display: block;
  margin-bottom: 20px;
}